@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

:root { color-scheme: light; }
.dark { color-scheme: dark; }


:root {
  --background: 255 255 255; 
  --foreground: 17 24 39; 

  --muted: 243 244 246; 
  --muted-foreground: 107 114 128; 

  --surface: 250 250 250; 
  --border: 229 231 235; 

  --primary: 79 107 255; 
  --primary-foreground: 255 255 255;

  --accent: 225 29 72; 
  --accent-foreground: 255 255 255;

  --radius-sm: 10px;
  --radius-md: 14px;
  --radius-lg: 20px;
}

.dark {
  --background: 11 15 20; 
  --foreground: 229 231 235; 

  --muted: 31 41 55; 
  --muted-foreground: 156 163 175; 

  --surface: 18 24 33; 
  --border: 31 41 55; 

  --primary: 79 107 255;
  --primary-foreground: 255 255 255;

  --accent: 217 119 6; 
  --accent-foreground: 0 0 0;
}


.bg-grid {
  background-image: radial-gradient(rgba(0,0,0,0.06) 1px, transparent 1px);
  background-size: 16px 16px;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.scroll-smooth {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}


::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none; 
}
